
  h1 {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    color: #ff0000;
  }
  body {
    background-image:url('assets/images/main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
